body {
    background-color: rgb(196, 235, 158);
}



.navbar-brand{
    color: rgb(169, 207, 115);
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: large;
}

.navbar-brand:hover{
    color: rgb(79, 119, 0);
}

.nav-link{
    color: rgb(169, 207, 115);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: smaller;
    text-decoration: underline;
}

.nav-link:hover {
    color: rgb(79, 119, 0);
}

main{
    margin: 5%;
    border-radius: 25px;
    background-color: white;
    text-align: center;
    color: rgb(101, 173, 67);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


