body {
    background-color: rgb(196, 235, 158);
}



.navbar-brand{
    color: rgb(169, 207, 115);
    font-family: "Rubik Mono One", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: smaller;
      
}

.navbar-brand:hover{
    color: rgb(79, 119, 0);
}

.nav-link{
    color: rgb(169, 207, 115);
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    text-decoration: underline;
}

.nav-link:hover {
    color: rgb(79, 119, 0);
}

.aboutus{
    margin: 5%;
    border-radius: 25px;
    background-color: white;
    text-align: center;
}

p{
    color: rgb(129, 139, 85);
    font-family: "Crimson Pro", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: italic;
}

h3{
    color: rgb(150,171,63);
    font-family: "Bungee", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.menu{
    margin: 5%;
    border-radius: 25px;
    background-color: rgb(219, 201, 154);
    text-align: center;
}

.menutitle{
    color: rgb(81, 47, 16);
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    text-decoration: underline;
}

.feedback{
    margin: 4%;
    border-radius: 25px;
    background-color: white;
    text-align: center;
}

.mt-5{
    color: rgb(79, 119, 0);
    font-weight: bolder;
}

.form-label{
    color: rgb(150,171,63);
    font-size: smaller;
    font-style: italic;
}

.btn {
    font-weight: 600;
    color: white;
    background-color: rgb(133, 199, 41);
}

.btn:hover{
    font-weight: 600;
    color: white;
    background-color: rgb(104, 156, 32);
}

.btn:active{
    font-weight: 600;
    color: rgb(255,255,255)!important; 
    background-color: rgb(51, 75, 20)!important;
}

.menumeal{
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.Season{
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: xx-large;
    text-decoration: underline;
}

.Special{
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: rgb(220, 84, 84);
}

.hours{
    margin: 1%;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    text-align: center;
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.list-group-item{
    color: rgb(129, 139, 85);
}

.oph{
    text-align: center;
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.location{
    margin: 3%;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    color: rgb(129, 139, 85);
    text-align: center;
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.foodbox{
    margin: 3%;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    color: rgb(39, 80, 27);
    text-align: center;
}

.aboutfoodbox{
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-style: normal;
}

.mt-5reservation{
    color: rgb(150,171,63);
    font-weight: bolder;
}

.boxlocation{
    text-align: center;
}

footer{
    justify-content: center;
}

.indexmain{
    margin: 2%;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    color: rgb(158, 205, 110);
    text-align: center;
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}
