body {
    background-color: rgb(196, 235, 158);
}



.navbar-brand{
    color: rgb(169, 207, 115);
    font-family: "Rubik Mono One", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: smaller;
      
}

.navbar-brand:hover{
    color: rgb(79, 119, 0);
}

.nav-link{
    color: rgb(169, 207, 115);
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    text-decoration: underline;
}

.nav-link:hover {
    color: rgb(79, 119, 0);
}

.aboutus{
    margin: 5%;
    border-radius: 25px;
    background-color: white;
    text-align: center;
}

p{
    color: rgb(129, 139, 85);
    font-family: "Crimson Pro", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: italic;
}

h3{
    color: rgb(150,171,63);
    font-family: "Bungee", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.menu{
    margin: 5%;
    border-radius: 25px;
    background-color: rgb(219, 201, 154);
    text-align: center;
}

.menutitle{
    color: rgb(81, 47, 16);
    font-family: "Bungee", sans-serif;
    font-weight: 400;
    font-style: normal;
}
